
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: --Anton-Regular;
    src: url(..//fonts/Anton-Regular.ttf);
  }
  @font-face {
    font-family: --Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
  }

//   declare body variables
$primaryfontFamily: --Poppins-Medium;
$secondaryfontFamily: --Anton-Regular;
$pfontSize: 0.8rem;
$primarycolor: #fff;
$secondarycolor: #d3391e;
$pfontcolor: #444;
$black: #000;
$headingfontsizeThree: 1.5rem;
$headingfontsizeTwo:2rem;
$hoverBgcolor: #d3391eb6;

::selection{
    color: $primarycolor;
    background: $secondarycolor;
}

section{
    padding: 100px 20px;
}

p{
    font-size: $pfontSize;
    color: $pfontcolor;
    font-weight: 500;
    font-family: $primaryfontFamily;
}
h3{
font-size: $headingfontsizeThree;
}
h2{
    font-size: $headingfontsizeTwo;
}
.title{
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 0 auto;

    h3{
        font-size: 1rem;
        font-family: $primaryfontFamily;
        font-weight: 600;
        text-transform: uppercase;
    }
    h2{
        font-family: $secondaryfontFamily;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2rem;
        color: $black;
    }
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    .btn{
        padding: 15px 50px;
        border-radius: .7rem;
        transition: .5s ease-in-out;
        background: $secondarycolor;
        color: $primarycolor;
        border: none;
        box-shadow: 0 5px 20px 1px rgba(5, 5, 5, 0.048);
        font-family: $primaryfontFamily;
        font-size: $pfontSize;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;

        &:hover{
            background: $hoverBgcolor;
        }
    }
}
.menuImg{
    padding: 1.5rem 1.5rem;
    display: none;
    background: url(../Img/menu_40px.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% 60%;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.closeImg{
    padding: 1.5rem 1.5rem;
    background: url(../Img/multiply_40px.png);
    background-repeat: no-repeat;
    background-size: 60% 60%;
    cursor: pointer;
    background-position: center center;
    transition: .5s ease-in-out;
}
// header styling 
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background: $primarycolor;
    z-index: 1000;
    transition: all .5s ease-in-out;
    box-shadow: 0 5px 20px 1px rgba(5, 5, 5, 0.027);

    .container{
        .headerBox{
            justify-content: space-between;
            flex-direction: row;
            width: 100%;

            .logo{
                h2{
                    font-family: $secondaryfontFamily;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                }
            }

            .navbar{
                .nav{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 2rem;

                    li{
                        a{
                            font-family: $primaryfontFamily;
                            font-size: $pfontSize;
                            font-weight: 600;
                            text-transform: uppercase;
                            cursor: pointer;
                            color: $black;

                            &:hover, &.active{
                                transition: .5s ease-in-out;
                                color: $secondarycolor;
                            }
                        }
                    }
                }
            }
        }
    }
}
// end header styling 

// styling banner
.banner{
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(5, 5, 5, 0.521), rgba(14, 14, 14, 0.418)), url(../Img/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .container{
        .box{
            text-align: center;

            h1, h3{
                color: $primarycolor;
            }
            h3{
                font-size: $headingfontsizeThree;
                text-transform: uppercase;
                font-family: $primaryfontFamily;
                font-weight: 500;
            }
            h1{
                font-size: 6rem;
                font-family: $secondaryfontFamily;
                letter-spacing: 1.5px;
                text-transform: uppercase;
            }
            .buttons{
                margin-top: .3rem;
            }
        }
    }
}
// end styling banner

// services styling 
.services {
    background: linear-gradient(rgba(5, 5, 5, 0.521), rgba(14, 14, 14, 0.418)), url(../Img/servicesImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .container{
        .title{
            h3{
                color: $secondarycolor;
            }
            h2{
                color: $primarycolor;
            }
        }

        .containerBox{
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
            margin-top: 2rem;

            .box{
            flex: 1 1 15rem;
            align-self: normal;
            border-radius: 1rem;
            background: $black;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            text-align: center;
            flex-direction: column;
            padding: 3rem 1rem;
            position: relative;
            z-index: 1;
            overflow: hidden;

            h3{
                color: $primarycolor;
                font-family: $primaryfontFamily;
                font-size: .8rem;
                text-transform: uppercase;
                font-weight: 600; 
            }
            .square{
                position: absolute;
                bottom: -0.5rem;
                right: 0;
                width: 1.5rem;
                height: 2rem;
                border-radius: 0 0 10px 10px;
                background: $secondarycolor;
                z-index: 1;
            }
            }
        }
    }
}
// end services styling 

// about us style 
.about{
    .container{
        .containerBox{
            flex-direction: row;
            gap: 2rem;
            // flex-wrap: wrap;

            .box{
                flex: 1 1 45rem;
                align-items: normal;
                transition: all .5s ease;
                position: relative;

                .imgBox{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 1rem;
                    position: relative;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .year{
                        position: absolute;
                        color: $primarycolor;
                        top: 50%;
                        left: 50%;
                        text-align: center;
                        transform: translate(-50%, -50%);
                        z-index: 1;
                        width: 8rem;
                        height: 8rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 1rem;
                        box-shadow: 0 2px 15px rgba(5, 5, 5, 0.521);
                        background: $secondarycolor;
                        font-size: 1rem;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-family: $primaryfontFamily;
                    }
                }

                .textBox{
                    h3{
                        font-size: .8rem;
                        text-transform: uppercase;
                        color: $secondarycolor;
                        font-weight: 600;
                        font-family: $primaryfontFamily;
                    }
                    h2{
                        font-size: 2rem;
                        font-family: $secondaryfontFamily;
                        font-weight: 600;
                        letter-spacing: 1.5;

                        span{
                            color: $secondarycolor;
                        }
                    }

                    .itemBox{
                        margin-top: .5rem;

                        .box{
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            gap: 1rem;

                            :nth-child(1){
                                margin-top: 1rem;
                            }

                            img{
                                padding: .5rem;
                                background: #d3391e83;
                                border-radius: .7rem;
                            }

                            h3{
                                color: $black;
                                margin-bottom: .5rem;
                            }
                        }
                    }
                    .buttons{
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}
// end about us style 

// counter style 
.counter{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../Img/counterImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .container{
        .containerBox{
            gap: 2rem;
            flex-direction: row;

            .box{
                flex: 1 1 15rem;
                align-self: normal;
                border-radius: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;
                text-align: center;

                img{
                    padding: 1rem 1rem;
                    border-radius: 50%;
                    background: $black;
                }

                h2{
                    font-size: 2rem;
                    font-family: $secondaryfontFamily;
                    color: $primarycolor;
                    letter-spacing: 1.5;
                }

                h3{
                    font-size: 1rem;
                    color: $primarycolor;
                    font-family: $primaryfontFamily;
                    font-weight: 600;
                }
            }
        }
    }
}
// end counter style 

// team style 
.team{
    .container{
        .title{
            margin-bottom: 2rem;

            h3{
                font-size: .8rem;
                font-family: $primaryfontFamily;
                font-weight: 600;
                color: $secondarycolor;
                text-transform: uppercase;
            }
            h2{
                font-size: 2rem;
                letter-spacing: 1.5;
                font-family: $secondaryfontFamily;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        .containerBox{
            gap: 2rem;

            .box{
                border-radius: 1rem;
                flex: 1 1 15rem;
                align-self: normal;
                transition: all .5s ease-in-out;
                position: relative;

                &:hover{
                    .content{
                        .imgBox{
                            img{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
                .content{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 1rem;
                    position: relative;

                    .imgBox{
                        width: 100%;
                        height: 100%;
                        position: relative;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: .5s ease-in-out;
                        }
                    }

                    .details{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background: #d3391e83;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        transition: all .5s ease-in-out;
                        opacity: 0;

                        .names{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            padding: 1rem 1rem;
                            z-index: 1;
                            background: $secondarycolor;

                            h3{
                                font-size: 0.8rem;
                                font-family: $primaryfontFamily;
                                color: $primarycolor;
                                font-weight: 600;
                                text-transform: uppercase;
                                padding-bottom: .3rem;
                            }
                            span{
                                color: $primarycolor;
                                font-size: .8rem;
                                font-family: $primaryfontFamily;
                                font-weight: 500;
                            }
                        }
                      

                        .sci{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: .5rem;
                            flex-direction: column;
                            // margin-top: 1rem;
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 1rem 1rem;
                            background: $secondarycolor;
                            border-radius: 0 1rem;

                            img{
                                padding: .5rem .5rem;
                                // background: $secondarycolor;
                                border-radius: 50%;
                                cursor: pointer;
                                transition: .5s ease;
                                // box-shadow: 0 20px 15px rgba(0,0,0,0.5);

                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                        }
                       
                    }
                    &:hover{
                        .details{
                            opacity: 1;
                            // transform: scale(1.1);
                        } 
                     }
                }
            }
        }
    }
}
// end team style 

// play video style 
.playVideo{
    background: linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.404)), url(../Img/playVideoImg.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 150px 20px;

    .container{
        .containerBox{
           width: 100%;
           max-width: 800px;
           margin: 0 auto;
           
           .buttons{
               .btnVideo{
                   border: none;
                   outline: none;
                   width: 4rem;
                   height: 4rem;
                   border-radius: 50%;
                   transition: .5s ease-in-out;
                   cursor: pointer;
                   background: $secondarycolor;
                   animation: ripple 1.5s infinite both;

                   @keyframes ripple {
                       0%{
                           box-shadow: 0 0 0 0 #d3391e3a, 0 0 0 0 #d3391e3a;
                       }
                       80%{
                           box-shadow: 0 0 0 20px #d3391e21, 0 0 0 40px #d3391e21;
                       }
                       100%{
                           box-shadow: 0 0 0 20px #d3391e36, 0 0 0 20px #d3391e36;
                       }
                   }
               }
           }
        }
    }
}
// end play video style 

// prjects style 
.projects{
    .container{
        .title{
            margin-bottom: 2rem;

            h3{
                color: $secondarycolor;
                color: #d3391e;
                font-size: 0.8rem;
                text-transform: uppercase;
                font-family: $primaryfontFamily;
                font-weight: 600;
            }
            h2{
                font-size: 2rem;
                color: $black;
                font-family: $secondaryfontFamily;
                text-transform: uppercase;
            }

            .tags{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 1rem;

                span{
                    font-size: .8rem;
                    text-transform: uppercase;
                    font-family: $primaryfontFamily;
                    font-weight: 600;
                    color: $black;
                    transition: .5s ease-in-out;
                    cursor: pointer;

                    &:hover, &.active{
                        color: $secondarycolor;
                    }
                }
            }
        }

        .containerBox{
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;

            .box{
                flex: 1 1 20rem;
                align-self: normal;
                border-radius: 1rem;
                transition: .5s ease-in-out;
                overflow: hidden;
                position: relative;

                &:hover{
                    .content{
                        .imgBox{
                            img{
                                transform: scale(1.1);
                            }
                        }
                        .overlay{
                            opacity: 1;
                        }
                    }
                }

                .content{
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    position: relative;

                    .imgBox{
                        width: 100%;
                        height: 100%;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: .5s ease-in-out;
                        }
                    }

                    .overlay{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #d3391e83;
                        z-index: 1;
                        transition: .5s ease-in-out;
                        padding: 1rem 1rem;
                        opacity: 0;

                        .details{
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            padding: 1rem 1rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 1rem;
                            border-top: 1px solid #5050509d;
                            background: $secondarycolor;

                            h3{
                                font-size: .8rem;
                                font-family: $primaryfontFamily;
                                color: $primarycolor;
                                font-weight: 600;
                                text-transform: uppercase;
                            }

                            img{
                                padding: .5rem .5rem;
                                border-radius: 50%;
                                box-shadow: 0 1px 1px #5050509d;
                                cursor: pointer;
                                transition: .5s ease-in-out;

                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// end projects style 


// action style 
.action{
    background: linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.404)), url(../Img/actionImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .container{
        .containerBox{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            // gap: 1rem;
            text-align: center;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;

            h3{
                font-size: 0.8rem;
                font-family: $primaryfontFamily;
                font-weight: 600;
                color: $secondarycolor;
                text-transform: uppercase;
            }
            h2{
                color: $primarycolor;
                font-size: 2rem;
                font-family: $secondaryfontFamily;
                text-transform: uppercase;
                margin-bottom: .5rem;
            }
            p{
                color: #999999;
            }
            .buttons{
                margin-top: 1rem;
            }
        }
    }
}
// end action style 

// featured news 
.blog{
    .container{
        .title{
            margin-bottom: 2rem;
            max-width: 1200px;
            text-align: left;

            h3{
                font-size: .8rem;
                font-family: $primaryfontFamily;
                font-weight: 600;
                color: $secondarycolor;
                text-transform: uppercase;
            }
            h2{
                font-size: 2rem;
                font-family: $secondaryfontFamily;
                text-transform: uppercase;
                letter-spacing: 1.5;
            }
        }
        .containerBox{
            gap: 2rem;
            flex-direction: row;
            flex-wrap: wrap;

            .box{
                flex: 1 1 20rem;
                align-self: normal;
                border-radius: 1rem;
                background: #f9f9f9;
                position: relative;
                overflow: hidden;

                &:hover{
                    .content{
                        .imgBox{
                            img{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
                .content{
                    width: 100%;
                    position: relative;
                    height: 100%;

                    .imgBox{
                        width: 100%;
                        position: relative;
                        overflow: hidden;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: .5s ease-in-out;
                        }

                        .date{
                            position: absolute;
                            top: 1rem;
                            right: 1rem;
                            padding: .5rem 1rem;
                            border-radius: 1rem;
                            background: $secondarycolor;
                            z-index: 1;
                            color: $primarycolor;
                            font-size: .8rem;
                            font-family: $primaryfontFamily;
                        }
                    }
                    .textBox{
                        padding: 1rem 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 1rem;

                        .meta{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            gap: 3rem;

                            p{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 1rem;
                            }
                        }
                        h3{
                            font-size: 1rem;
                            font-family: $primaryfontFamily;
                            font-weight: 600;
                            text-transform: uppercase;
                        }

                        .more{
                            padding: .5rem .5rem;
                            background: $secondarycolor;
                            border-radius: 50%;
                            cursor: pointer;
                            transition: .5s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}
// end news 

// contact form style 
.contact{
    background: #f9f9f9;

    .title{
        h3{
            color: $secondarycolor;
        }
    }
    .containerBox{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        flex-wrap: wrap;
        margin-top: 2rem;

        .inputBox{
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            justify-content: center;

            .text{
                width: 100%;
                padding: .8rem 1rem;
                outline: none;
                border: 2px solid #f2f2f2;
                border-radius: .5rem;
                transition: .5s ease-in-out;
                font-size: .8rem ;
                font-family: $primaryfontFamily;
                font-weight: 400;

                &:hover{
                    border-color: $secondarycolor;
                }
            }
        }
        .msg{
            border: 2px solid #f2f2f2;
            outline: none;
            width: 100%;
            height: 150px;
            resize: none;
            transition: .5s ease-in-out;
            font-size: .8rem ;
            font-family: $primaryfontFamily;
            font-weight: 400;
            padding: .8rem 1rem;
            border-radius: .5rem;

            &:hover{
                border-color: $secondarycolor;
            }
        }
    }
}
// end contCt style 

// footer style 
.footer{
    background: $black;

    .container{
        .containerBox{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1.5rem;

            .logo{
                h2{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2rem;
                    font-family: $secondaryfontFamily;
                    color: $primarycolor;
                    letter-spacing: 1.5;
                    gap: .3rem;
                }
            }
            .scIcons{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;

                img{
                    border-radius: 50%;
                    padding: .5rem .5rem;
                    background: rgb(34, 34, 34);
                    transition: .5s ease-in-out;
                    cursor: pointer;

                    &:hover{
                        background:$secondarycolor;
                        transform: scale(1.1);
                    }
                }
            }
            h6{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .2rem;
                flex-wrap: wrap;
                text-align: center;
                color: $primarycolor;
                font-size: .8rem;
                font-family: $primaryfontFamily;
                font-weight: 400;

                span{
                    color: $secondarycolor;
                }
            }

        }
    }
}
// end footer 

// scoll top 
.scrollUp {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    outline: none;
    border: none;
    padding: 1.5rem 1.5rem;
    border-radius: 50px;
    -webkit-box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2);
    background: url(../img/double_up_30px.png);
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $secondarycolor;
    cursor: pointer; 
    z-index: 10;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    display: none;

    &.active{
        display: initial;
    }
  }
// end scroll top 

// small devices 

@media only screen and (max-width: 992px) {
    .header .container .headerBox .logo {
        img{
            width: 40px;
            height: 40px;
        }
    }
    .header{
        .container{
            padding: 0 1rem;
            .headerBox{
                .menuImg{
                    display: initial;
                }
                .navbar{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    background: rgba(255, 255, 255, 0.952);
                    padding: 2rem 2rem;
                    height: 100vh;
                    transition: .2s ease-in;
                    flex-flow: column;
                    justify-content: center;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                    gap: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.active{
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                      }
                    .nav{
                        flex-direction: column;
                    }
                }
            }
        }
    }
    .banner .container .box h1 {
        font-size: 3rem;
    }
    .about .container .containerBox {
        flex-wrap: wrap;
    }
    // .about .container .containerBox .box {
    //     // flex: 1 1 4rem;
    // }
    .counter .container .containerBox {
        flex-wrap: wrap;
    }
    .team .container .containerBox {
        flex-flow: wrap;
    }
}

@media only screen and (max-width:600px) {
    .banner .container .box h1 {
        font-size: 2rem;
    } 
    .banner .container .box h3 {
        font-size: 1rem;
    }
    .title h2 {
        font-size: 1.5rem;
    }
    .about .container .containerBox .box .textBox h2 {
        font-size: 1.5rem;
    }
    .counter .container .containerBox .box h2 {
        font-size: 1.5rem;
    }
    .team .container .title h2 {
        font-size: 1.5rem;
    }
    .projects .container .title h2 {
        font-size: 1.5rem;
    }
    .action .container .containerBox h2 {
        color: #fff;
        font-size: 1.5rem;
    }
    .blog .container .title h2 {
        font-size: 1.5rem;
    }
    .footer .container .containerBox .logo h2 {
        font-size: 1.5rem;
    }
    .contact .containerBox .inputBox {
        flex-wrap: wrap;
    }
}